---
import { Image } from "astro:assets";

interface Props {
	images: {
		src: any;
		alt: string;
	}[];
	class?: string;
}

const { images, class: className } = Astro.props as Props;
const uuid = `carousel-${crypto.randomUUID().substring(0, 8)}`;
---

<div class:list={["tabbed", className]}>
	{
		images.map((_, idx) => (
			<input
				type="radio"
				id={`tab${idx}`}
				name={uuid}
				checked={idx === 0}
			/>
		))
	}

	{
		images.map((image) => (
			<Image class="tab-content" src={image.src} alt={image.alt} />
		))
	}

	<ul class="tabs">
		{
			images.map((_, idx) => (
				<li class="tab">
					<label for={`tab${idx}`} />
				</li>
			))
		}
	</ul>
</div>

<style>
	.tabbed {
		position: relative;
	}

	[type="radio"] {
		display: none;
	}

	.tabs {
		display: flex;
		align-items: stretch;
		list-style: none;
		padding: 10px;
		margin: 0;
		gap: 10px;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		background: var(--m3c-primary-container-subtle);
		border-radius: 9999px;
		box-shadow: var(--m3-elevation-3);
	}
	.tab {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
	}
	.tab > label {
		display: block;
		cursor: pointer;
		transition: all 0.2s;
		border-radius: 9999px;
		width: 12px;
		height: 12px;
		background: var(--m3c-primary-container);
	}

	.tab > label:active {
		width: 16px;
	}

	.tab-content {
		display: none;
	}

	.tabbed
		[type="radio"]:nth-of-type(1):checked
		~ .tabs
		.tab:nth-of-type(1)
		label,
	.tabbed
		[type="radio"]:nth-of-type(2):checked
		~ .tabs
		.tab:nth-of-type(2)
		label,
	.tabbed
		[type="radio"]:nth-of-type(3):checked
		~ .tabs
		.tab:nth-of-type(3)
		label,
	.tabbed
		[type="radio"]:nth-of-type(4):checked
		~ .tabs
		.tab:nth-of-type(4)
		label {
		background: var(--m3c-primary);
		width: 32px;
		box-shadow: var(--m3-elevation-1);
	}

	.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
	.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
	.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
	.tabbed
		[type="radio"]:nth-of-type(4):checked
		~ .tab-content:nth-of-type(4) {
		display: block;
	}
</style>
