---
import Card from "@components/containers/Card.astro";
import Button from "@components/controls/Button.astro";
import Android from "@icons/android.svg";
import Apple from "@icons/apple.svg";
import Package from "@icons/package.svg";
import Diamond from "@icons/diamond.svg";
import Fan from "@icons/fan.svg";
import Download from "@icons/download.svg";
import Layout from "@layouts/MainLayout.astro";
const links = {
	apk: "https://github.com/paigely/Navic/releases/latest/download/Navic.apk",
	ipa: "https://github.com/paigely/Navic/releases/latest/download/Navic.ipa",
	obtainium:
		"https://apps.obtainium.imranr.dev/redirect?r=obtainium://app/%7B%22id%22%3A%22paige.navic%22%2C%22url%22%3A%22https%3A%2F%2Fgithub.com%2Fpaigely%2FNavic%22%2C%22author%22%3A%22paigely%22%2C%22name%22%3A%22Navic%22%2C%22preferredApkIndex%22%3A0%2C%22additionalSettings%22%3A%22%7B%5C%22includePrereleases%5C%22%3Atrue%2C%5C%22fallbackToOlderReleases%5C%22%3Atrue%2C%5C%22filterReleaseTitlesByRegEx%5C%22%3A%5C%22%5C%22%2C%5C%22filterReleaseNotesByRegEx%5C%22%3A%5C%22%5C%22%2C%5C%22verifyLatestTag%5C%22%3Afalse%2C%5C%22sortMethodChoice%5C%22%3A%5C%22date%5C%22%2C%5C%22useLatestAssetDateAsReleaseDate%5C%22%3Afalse%2C%5C%22releaseTitleAsVersion%5C%22%3Afalse%2C%5C%22trackOnly%5C%22%3Afalse%2C%5C%22versionExtractionRegEx%5C%22%3A%5C%22%5C%22%2C%5C%22matchGroupToUse%5C%22%3A%5C%22%5C%22%2C%5C%22versionDetection%5C%22%3Atrue%2C%5C%22releaseDateAsVersion%5C%22%3Afalse%2C%5C%22useVersionCodeAsOSVersion%5C%22%3Afalse%2C%5C%22apkFilterRegEx%5C%22%3A%5C%22%5C%22%2C%5C%22invertAPKFilter%5C%22%3Afalse%2C%5C%22autoApkFilterByArch%5C%22%3Atrue%2C%5C%22appName%5C%22%3A%5C%22%5C%22%2C%5C%22appAuthor%5C%22%3A%5C%22%5C%22%2C%5C%22shizukuPretendToBeGooglePlay%5C%22%3Afalse%2C%5C%22allowInsecure%5C%22%3Afalse%2C%5C%22exemptFromBackgroundUpdates%5C%22%3Afalse%2C%5C%22skipUpdateNotifications%5C%22%3Afalse%2C%5C%22about%5C%22%3A%5C%22%5C%22%2C%5C%22refreshBeforeDownload%5C%22%3Afalse%7D%22%2C%22overrideSource%22%3Anull%7D",
	altsource:
		"https://stikstore.app/altdirect/?url=https://raw.githubusercontent.com/paigely/Navic/refs/heads/master/app-repo.json",
	testflight: "https://testflight.apple.com/join/QUAsubnR",
	releases: "https://github.com/paigely/Navic/releases",
};
---

<Layout title="Downloads" description="Download Navic for Android and iOS">
	<div class="content">
		<h2 class="card-title">
			<Download />
			Get Navic
		</h2>
		<div class="card-list">
			<Card className="card" variant="elevated">
				<h2 class="card-title">
					<Android />
					Android
				</h2>
				<p>
					You can add Navic to Obtainium for automatic updates or
					sideload the APK.
				</p>
				<Button isSquare href={links.obtainium}>
					<Diamond />
					Obtainium
				</Button>
				<Button isSquare href={links.apk}>
					<Package />
					APK
				</Button>
			</Card>
			<Card className="card" variant="elevated">
				<h2 class="card-title">
					<Apple />
					iOS
				</h2>
				<p>
					You can get Navic on TestFlight or sideload it using the
					AltSource, or manually install the IPA.
				</p>
				<Button isSquare href={links.testflight}>
					<Fan />
					TestFlight
				</Button>
				<Button isSquare href={links.altsource}>
					<Package />
					AltSource
				</Button>
				<Button isSquare href={links.ipa}>
					<Package />
					IPA
				</Button>
			</Card>
		</div>
		<p>
			Note for iOS users: the TestFlight has a limited amount of
			participants and may not always be up to date. The AltSource link
			supports a wide range of sideloading apps, such as AltStore and
			Feather.
		</p>
	</div>
</Layout>

<style>
	.content {
		margin: auto;
		margin-top: 70px;
		padding-left: 24px;
		padding-right: 24px;
		display: flex;
		flex-direction: column;
	}
	.card-list {
		display: flex;
		width: 100%;
		gap: 8px;
		flex-wrap: wrap;
	}
	.card {
		flex: 1;
		overflow: hidden;
		min-width: 400px;
	}
	.card-title {
		display: flex;
		align-items: center;
		gap: 8px;
	}
</style>
